name = "talkbox"
main = "src/worker.js"
compatibility_date = "2025-12-14"
compatibility_flags = ["nodejs_compat"]

[[kv_namespaces]]
binding = "MESSAGES"
id = "be7e1a976634455ba902e8aefe921529"
preview_id = "be7e1a976634455ba902e8aefe921529"

[[kv_namespaces]]
binding = "SHORTCODES"
id = "0f47c9fefb32414f95d5d7ec89a947bd"
preview_id = "0f47c9fefb32414f95d5d7ec89a947bd"

[limits]
cpu_ms = 50
